@font-face {
  font-family: droid_sans;
  src: url(DroidSans.ttf);
}
@font-face {
  font-family: droid_sans;
  src: url(DroidSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: abril;
  src: url(AbrilFat.ttf);
}
/*desk*/
  /*responsive*/
  i.mobile.bars{
    display:none;
  }

  /*overall*/
  *{
    box-sizing: border-box;
  }
  html{
    font-size: 10px;
    font-family: droid_sans,arial,sans-serif;
  }
  div.container{
    margin: 0 auto 0 auto;
    width: 88%;
  }
body{
  margin: 0;
  overflow-y: auto;
  overflow-x:hidden;
}

/*font at various sizes*/
P{
  font-size: 2rem;
  line-height: 3.3rem;
}
h1{
  font-family: abril,Arial,sans-serif;
  font-size: 6.75rem;
}
h2{
  color: #AA28FF;
  font-weight: bold;
  font-size: 3.6rem;
}
h3{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.6rem;
}
h4{
  color: #AA28FF;
  font-size: 2.2rem;
  line-height: 3.6rem;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a.logo:hover{
  text-decoration: none;
}
.white{
  background-color: #fbfbfb;
  color: #000000;
  z-index: 1;
}
.purple2{
  background-color: #AA28FF;
  color: #ffffff;
  overflow: auto;
}
.black{
  background-color: #000000;
  color: #ffffff;
}
section.first_white{
  background-image: url('');
  background-size: cover;
}
/*picture size*/
img.logo{
float: left;
height:3.6rem;
}
i.bars{
font-size: 2.9rem;
}
i.social{
font-size: 2.5rem;
}
/*nav*/
nav{
  color: #ffffff;
  padding: 0 4.6% 0 4.6%;
  z-index: 1;
  position: relative;
}

img.logo{
  display: inline-block;
  margin: 2.4rem 0 0 0;
}
p.logo{
  display: inline-block;
  font-family: droid_sans,arial,sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3.15rem;
  margin: 3.6rem 0 0rem 2.45rem;
}
nav ul{
  display: inline-block;
  float: right;
  margin: 3.6rem 0 0 0;
}
nav li{
  display: inline-block;
  line-height: 3.15rem;
  margin:0 0 0 4.2rem;
  font-size: 2rem;
}

i.bars{
  display: inline-block;
  float: right;
  margin: 1rem 0 0 0;
}
/*button*/
button{
  background: none;
  border: solid 1px #ffffff;
  color: #ffffff;
  font-family: droid_sans,arial,sans-serif;
  font-size: 2.6rem;
  padding: 1.8rem 4.5rem 1.8rem 4.5rem;
}

/*canvas*/
#myCanvas{
  position: absolute;
  top:0;
  left: 0;
  margin-bottom: 0;
}
#p5-sketch{
  background-color: #fbfbfb;
  margin-top: 0;
  margin-bottom: 0;
}
.white{
  padding: 3.6rem 20% 5.4rem 20%;
  text-align: left;
  position: relative;

}
.white h2{

  margin-top: 5.4rem;
  margin-bottom: 3.6rem;

}
.white h4{
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.white p{
  margin-bottom: 2.7rem;
}
.second_white{
    padding-top: 1.8rem;
    padding-bottom: 9rem;
}
.second_div{
  margin-top: 5.4rem;
}
.purple2{
  padding: 5.4rem 20% 6.3rem 20%;
  text-align: center;
}
.purple2 h3.please{
  line-height: 4.5rem;
  font-size: 2.4rem;
  font-weight: 550;
  margin-bottom: 4.5rem;
}
/*footer*/
footer div.container{
  padding:0 4.6% 12.6rem 4.6%;
}
#footer_logo{
  display: inline-block;
}
footer p.social{
  display: inline-block;
  float: right;
  margin-top: 3.6rem;
  line-height: 3.15rem;
  font-size: 2rem;
}
i.social{
  display: inline-block;
  margin:0 0 0 3.5rem;
}

@media screen and (max-width:900px){

  /*mobile*/
    /*responsive*/

    .desk{
      display:none;
    }

    /*overall*/
    *{
      box-sizing: border-box;
    }
    html{
      font-size: 10px;
      font-family: droid_sans,arial,sans-serif;
    }
    div.container{
      margin: 0 auto 0 auto;
      width: 90%;
    }
  body{
    margin: 0;
    overflow-y: auto;
    overflow-x:hidden;
    width: 100%;
  }

  /*font at various sizes*/
  P{
    font-size: 2rem;
    line-height: 3.15rem;
  }
  h1{
    font-family: abril,Arial,sans-serif;
    font-size: 5.4rem;
  }
  h2{
    color: #AA28FF;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.5rem;
  }
  h3{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.6rem;
  }
  h4{
    color: #AA28FF;
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  a.logo:hover{
    text-decoration: none;
  }

  /*color*/
  .white{
    background-color: #fbfbfb;
    color: #000000;
    z-index: 1;
  }
  .purple2{
    background-color: #AA28FF;
    color: #ffffff;
    overflow: auto;
  }
  .black{
    background-color: #000000;
    color: #ffffff;
  }

  /*picture size*/
  img.logo{
  float: left;
  height:3rem;
  }
  i.bars{
  font-size: 2.9rem;
  }
  i.social{
  font-size: 2.2rem;
  }
  /*nav*/
  nav{
    color: #ffffff;
    padding: 1.8rem 0 0 0;
    z-index: 1;
    position: relative;
  }

  img.logo{
    display: inline-block;
    float: left;
    margin: 0 0 0 0;
  }
  p.logo{
    display: inline-block;
    font-family: droid_sans,arial,sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3.15rem;
    margin: 1rem 0 0rem 2.4rem;
  }



  /*hamburger*/
  i.mobile.bars{
    display:inline-block;
    cursor: pointer;
    float: right;
    margin: 0;
  }
  i.mobile.bars:focus{
    outline: none;
  }

  /*toggle nav ul*/
  nav ul.show{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.8rem 0 0 0;
    text-align: right;
    width: 100%;
  }
  nav li{
    margin: 0 0 0 0;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    line-height: 3.6rem;
  }
  nav li:hover{
    font-weight: bold;
  }

  /*button*/
  button{
    background: none;
    border: solid 1px #ffffff;
    color: #ffffff;
    font-family: droid_sans,arial,sans-serif;

    padding: 1.8rem 5.4rem 1.8rem 5.4rem;
  }

  /*canvas*/
  #myCanvas{
    position: absolute;
    top:0;
    left: 0;
    margin-bottom: 0;
  }
  #p5-sketch{
    background-color: #fbfbfb;
    margin-top: 0;
    margin-bottom: 0;
  }
  .white{
    padding: 0.9rem 10% 3.6rem 10%;
    text-align: left;
    position: relative;

  }
  .white h2{

    margin-top: 5.4rem;
    margin-bottom: 3.6rem;

  }
  .white h4{
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .white p{
    margin-bottom: 2.7rem;
  }
  .second_white{
      padding-top: 0.9rem;
      padding-bottom: 3.6rem;
  }
  .second_div{
    margin-top: 5.4rem;
  }
  .purple2{
    padding: 7.2rem 10% 7.2rem 10%;
    text-align: left;
  }
  .purple2 h3.please{
    line-height: 4rem;
    font-size: 2.4rem;
    font-weight: 550;
    margin-bottom:3.6rem;
  }
  /*footer*/
  footer div.container{
    padding:1rem 0 12.6rem 0;
    width: 88%;
  }
  #footer_logo{
    display: block;
  }
  footer p.social{
    display: block;
    float: left;
    margin: 3.6rem 0 0 0;
    line-height: 3.15rem;
    font-size: 2rem;
  }
  i.social{
    display: inline-block;
    float: none;
    margin:0 3.5rem 0 0;
  }

}
